<!DOCTYPE html>
<html>

<body>
	<h2>Login</h2>

	<form id="login">
		<label for="username">Username:</label><br>
		<input type="text" id="username" name="username" value=""><br>
		<label for="password">Password:</label><br>
		<input type="password" id="password" name="password" value=""><br><br>

	</form>

	<div id="faillogin"></div>

	<div>
		<button onclick="login()">Login</button>
		<button onclick="signup()">Signup</button>
	</div>



</body>

<script src="/scripts/jquery.min.js"></script>
<script>
	function login() {
		var username = document.getElementById("username");
		var password = document.getElementById("password");
		var json = { "username": username.value, "password": password.value }

		$.ajax({
			method: "post",
			url: "/login",
			data: json,

			success: function (data) {
				console.log("[AJAX]", data)
				if (data == true) {
					location.href = "http://localhost:3000/index";
				} else {
					var flogin = document.getElementById("faillogin");
					flogin.innerHTML = "Username or password is incorrect";
				}
			}
		});
	}
	
	function signup() {
		location.href = "http://localhost:3000/signup.html";
	}
</script>