<!DOCTYPE html>
<html>

<body>
	<h2>Login</h2>

	<form action="/login" method="post">
		<label for="username">Username:</label><br>
		<input type="text" id="username" name="username" value=""><br>
		<label for="password">Password:</label><br>
		<input type="password" id="password" name="password" value=""><br><br>

		<div id="failedLogin"></div>

		<button type="submit">Login</button>
	</form>

	<button onclick="signup()">Signup</button>



</body>

<script src="../scripts/jquery.min.js"></script>
<script>
	function login() {
		var uname = document.getElementById("uname");
		var pass = document.getElementById("pass");
		var json = { "username": uname.value, "password": pass.value }

		$.ajax({
			method: "post",
			url: "/auth",
			data: json,

			success: function (data) {
				console.log("[AJAX]", data)
				// if (data.rows.length > 0) {
				// 	location.href = "http://localhost:3000/index.html";
				// } else {
				// 	var flogin = document.getElementById("faillogin");
				// 	flogin.innerHTML = "Password or Username is Incorrect";
				// }
			}
		}
		)
	}
	
	function signup() {
		location.href = "http://localhost:3000/signup.html";


	}
</script>